# Node & Composer Dependencies
node_modules/
vendor/

# Environment Configuration
.env
.env.*
!.env.example

# Logs & Operating System Files
*.log
.DS_Store
Thumbs.db

# Build Artifacts & Storage Caches
dist/
/backend/storage/logs/*.log
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*

# FastCDC Vault & Manifest Artifacts
logs/
go_backend/logs/
manifest/
*.csv
*.dump
*.cdc

# IDE Configuration Files
.vscode/
.idea/
